<div class="modal-dialog container-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarInformacionT">Editar perfil</h5>
        <button type="button" class="btn-close" (click)="volver()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="informacionForm">
          <div class="mb-2">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control form-control-sm" required
            id="nombre" name="nombre" [(ngModel)]="informacion.nombre" formControlName="nombre">
            <div *ngIf="Nombre?.errors && Nombre?.touched">
              <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                Campo obligatorio
              </p>
            </div>
          </div>
          <div class="mb-2">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control form-control-sm" required
            id="titulo" name="titulo" [(ngModel)]="informacion.titulo" formControlName="titulo">
            <div *ngIf="Titulo?.errors && Titulo?.touched">
              <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                Campo obligatorio
              </p>
            </div>
          </div>
          <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control form-control-sm" 
            id="email" name="email" [(ngModel)]="informacion.email" formControlName="email">
            <div *ngIf="Email?.errors && Email?.touched">
              <p *ngIf="Email?.hasError('email')" class="text-danger">
                El formato del email debe ser válido
              </p>
            </div>
        </div>
        <div class="mb-2">
          <label for="banner" class="form-label">Banner</label>
          <input class="form-control form-control-sm" type="text" 
          id="banner" name="banner" [(ngModel)]="informacion.banner" #banner="ngModel">
        </div>
        <div class="mb-2">
          <label for="avatar" class="form-label">Imagen de perfil</label>
          <input class="form-control form-control-sm" type="text" 
          id="avatar" name="avatar" [(ngModel)]="informacion.avatar" #avatar="ngModel">
        </div>
        <div class="mb-2">
          <label for="sobre_mi" class="form-label">Sobre mí</label>
          <textarea type="text" class="form-control form-control-sm" rows="3" 
          id="sobre_mi" name="sobre_mi" [(ngModel)]="informacion.sobre_mi" #sobre_mi="ngModel"></textarea>
        </div>
        <button type="submit" class="btn btn-info mt-2 me-2">Guardar cambios</button>
        <button type="button" class="btn mt-2" (click)="volver()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
