<div class="seccion container-lg">
    <div class="seccion-titulo"><h2>Habilidades</h2></div>
    <ul class="d-flex flex-wrap align-items-center">
    <li class="seccion-skill p-2">
      <p>Skill</p>
      <div class="progress w-100">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </li>
    <li class="seccion-skill p-2">
      <p>Skill</p>
      <div class="progress w-100">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      </li>  
    </ul>
  </div>
  