<div class="container-lg d-flex justify-content-end">
    <button type="button" *ngIf="isAdmin" class="boton-1 bi-plus-circle-fill me-2" data-bs-toggle="modal" data-bs-target="#crearRed"></button>
    <ul class="d-flex flex-wrap align-items-center">
    <li *ngFor="let red of redList; let id_red = index">
    <div class="d-flex me-2">
      <a [href]="red.link_red"><i [class]="'bi-'+ red.nombre_red"></i></a>
      <div class="btn-group-vertical" *ngIf="isAdmin">
        <button type="button" (click)="editarRed(red.id_red)" class="boton-1 bi-pencil-fill me-2"></button>
        <button type="button" (click)="eliminarRed(red.id_red)" class="boton-1 bi-x-circle-fill"></button>
      </div>
    </div>
  </li>
  </ul>
</div>
<!--Modal-->
<div class="modal fade" id="crearRed" tabindex="-1" aria-labelledby="crearRedT" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crearRedT">Agregar red social</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="redForm">
            <div class="mb-2">
              <label for="nombre_red" class="form-label">Nombre</label>
              <select class="form-select form-select-sm" required
              id="nombre_red" name="nombre_red" [(ngModel)]="red.nombre_red" formControlName="nombre_red">
                <option selected></option>
                <option value="discord">Discord</option>
                <option value="facebook">Facebook</option>
                <option value="github">Github</option>
                <option value="google">Google</option>
                <option value="instagram">Instagram</option>
                <option value="linkedin">LinkedIn</option>
                <option value="stack-overflow">Stack Overflow</option>
                <option value="twitter">Twitter</option>
              </select>
              <div *ngIf="Red?.errors && Red?.touched">
                <p *ngIf="Red?.hasError('required')" class="text-danger">
                  Campo obligatorio
                </p>
              </div>
            </div>
            <div class="mb-2">
              <label for="link_red" class="form-label">Link</label>
              <input type="text" class="form-control form-control-sm" required
              id="link_red" name="link_red" [(ngModel)]="red.link_red" formControlName="link_red">
              <div *ngIf="Link?.errors && Link?.touched">
                <p *ngIf="Link?.hasError('required')" class="text-danger">
                  Campo obligatorio
                </p>
              </div>
            </div>
            <button type="submit" class="btn btn-info mt-2 me-2">Crear</button>
            <button type="button" class="btn mt-2" data-bs-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  