<div class="seccion container-lg">
    <div class="seccion-titulo">
      <button type="button" class="boton-1 boton-2 bi-plus-circle-fill" data-bs-toggle="modal" data-bs-target="#editarEducacion"></button>
      <h2>Educación</h2></div>
    <ul>
    <li class="seccion-educacion d-flex align-items-center p-3">
      <img class="seccion-img img-educacion me-2">
      <div class="col"><p><b>Curso</b> en Institución</p>
        <p class="fechas text-muted">Fechas</p>
        <p>Descripción</p>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="boton-1 bi-pencil-fill" data-bs-toggle="modal" data-bs-target="#editarEducacion"></button>
        <button type="button" class="boton-1 bi-x-circle-fill"></button>
      </div>
    </li>
  </ul>
  
  <!--Modal-->
<div class="modal fade" id="editarEducacion" tabindex="-1" aria-labelledby="editarEducacionT" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarEducacionT">Editar experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-2">
            <label for="editarCurso" class="form-label">Curso</label>
            <input type="text" class="form-control form-control-sm" id="editarCurso">
          </div>
          <div class="mb-2">
            <label for="editarInstitucion" class="form-label">Institución</label>
            <input type="text" class="form-control form-control-sm" id="editarInstitucion">
          </div>
          <div class="mb-2">
            <label for="editarFInicio" class="form-label">Fecha de inicio</label>
            <input type="month" class="form-control form-control-sm" id="editarFInicio">
          </div>
          <div class="mb-2">
            <label for="editarFFin" class="form-label">Fecha de finalización</label>
            <input type="month" class="form-control form-control-sm" id="editarFFin">
          </div>
          <div class="mb-2">
            <label for="editarDescripcion" class="form-label">Descripción</label>
            <textarea type="text" class="form-control form-control-sm" rows="3" id="editarDescripcion"></textarea>
          </div>
          <button type="button" class="btn btn-info mt-2">Guardar</button>
        </form>
      </div>
    </div>
  </div>

  </div>
  
