<div class="seccion container-lg">
    <div class="seccion-titulo">
      <button type="button" *ngIf="isAdmin" class="boton-1 boton-2 bi-plus-circle-fill" data-bs-toggle="modal" data-bs-target="#crearEducacion"></button>
      <h2>Educación</h2></div>
    <ul>
    <li *ngFor="let educacion of educacionList; let id_ed = index">
      <div class="d-flex align-items-center p-3">
      <img [src]="educacion.institucion_l" class="seccion-img me-2">
      <div class="col"><p><b>{{educacion.curso}}</b> en {{educacion.institucion_n}}</p>
        <p *ngIf="educacion.fin_ed; else actualEd" class="fechas text-muted">{{educacion.inicio_ed | date:'MM/yyyy'}} - {{educacion.fin_ed | date:'MM/yyyy'}}</p>
        <ng-template #actualEd><p class="fechas text-muted">{{educacion.inicio_ed | date:'MM/yyyy'}} - cursando</p></ng-template>
        <p>{{educacion.descripcion_ed}}</p>
      </div>
      <div class="btn-group-vertical" *ngIf="isAdmin">
        <button type="button" (click)="editarEducacion(educacion.id_ed)" class="boton-1 bi-pencil-fill" ></button>
        <button type="button" (click)="eliminarEducacion(educacion.id_ed)" class="boton-1 bi-x-circle-fill"></button>
      </div>
      </div>
    </li>
  </ul>
  
  <!--Modal-->
<div class="modal fade" id="crearEducacion" tabindex="-1" aria-labelledby="crearEducacionT" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crearEducacionT">Agregar educación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="educacionForm">
          <div class="mb-2">
            <label for="curso" class="form-label">Curso</label>
            <input type="text" class="form-control form-control-sm" required
            id="curso" name="curso" [(ngModel)]="educacion.curso" formControlName="curso">
            <div *ngIf="Curso?.errors && Curso?.touched">
              <p *ngIf="Curso?.hasError('required')" class="text-danger">
                Campo obligatorio
              </p>
            </div>
          </div>
          <div class="mb-2">
            <label for="institucion_n" class="form-label">Institución</label>
            <input type="text" class="form-control form-control-sm" required
            id="institucion_n" name="institucion_n" [(ngModel)]="educacion.institucion_n" formControlName="institucion_n">
            <div *ngIf="Institucion?.errors && Institucion?.touched">
              <p *ngIf="Institucion?.hasError('required')" class="text-danger">
                Campo obligatorio
              </p>
            </div>
          </div>
          <div class="mb-2">
            <label for="institucion_l" class="form-label">Logo de la institución</label>
            <input type="text" class="form-control form-control-sm" 
            id="institucion_l" name="institucion_l" [(ngModel)]="educacion.institucion_l" #institucion_l="ngModel">
          </div>
          <div class="mb-2">
            <label for="inicio_ed" class="form-label">Fecha de inicio</label>
            <input type="date" class="form-control form-control-sm" required
            id="inicio_ed" name="inicio_ed" [(ngModel)]="educacion.inicio_ed" formControlName="inicio_ed">
            <div *ngIf="Inicio?.errors && Inicio?.touched">
              <p *ngIf="Inicio?.hasError('required')" class="text-danger">
                Campo obligatorio
              </p>
            </div>
          </div>
          <div class="mb-2">
            <label for="fin_ed" class="form-label">Fecha de finalización</label>
            <input type="date" class="form-control form-control-sm" 
            id="fin_ed" name="fin_ed" [(ngModel)]="educacion.fin_ed" #fin_ed="ngModel">
          </div>
          <div class="mb-2">
            <label for="descripcion_ed" class="form-label">Descripción</label>
            <textarea type="text" class="form-control form-control-sm" rows="3" 
            id="descripcion_ed" name="descripcion_ed" [(ngModel)]="educacion.descripcion_ed" #descripcion_ed="ngModel"></textarea>
          </div>
          <button type="submit" class="btn btn-info mt-2 me-2">Crear</button>
          <button type="button" class="btn mt-2" data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>

  </div>
  
