<div class="seccion container-lg">
    <div class="seccion-titulo">
      <button type="button" class="boton-1 boton-2 bi-plus-circle-fill" data-bs-toggle="modal" data-bs-target="#editarExperiencia"></button>
      <h2>Experiencia</h2></div>
    <ul>
    <li *ngFor="let experiencia of experienciaList; let idex = index">
      <div class="d-flex align-items-center p-3">
      <img [src]="experiencia.empresaL" class="seccion-img me-2">
      <div class="col"><p><b>{{experiencia.trabajo}}</b> en {{experiencia.empresaN}}</p>
      <p class="fechas text-muted">{{experiencia.inicioEx}} - {{experiencia.finEx}}</p>
      <p>{{experiencia.descripcionEx}}</p>
    </div>
    <div class="btn-group-vertical">
      <button type="button" class="boton-1 bi-pencil-fill" data-bs-toggle="modal" data-bs-target="#editarExperiencia"></button>
      <button type="button" (click)="removeExp(idex)" class="boton-1 bi-x-circle-fill"></button>
    </div>
      </div>
  </li>
  </ul>

  <!--Modal-->
<div class="modal fade" id="editarExperiencia" tabindex="-1" aria-labelledby="editarExperienciaT" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarExperienciaT">Editar experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-2">
            <label for="editarTrabajo" class="form-label">Trabajo</label>
            <input type="text" class="form-control form-control-sm" id="editarTrabajo">
          </div>
          <div class="mb-2">
            <label for="editarEmpresaN" class="form-label">Empresa</label>
            <input type="text" class="form-control form-control-sm" id="editarEmpresaN">
          </div>
          <div class="mb-2">
            <label for="editarEmpresaL" class="form-label">Empresa</label>
            <input type="file" class="form-control form-control-sm" id="editarEmpresaL">
          </div>
          <div class="mb-2">
            <label for="editarInicioEx" class="form-label">Fecha de inicio</label>
            <input type="month" class="form-control form-control-sm" id="editarInicioEx">
          </div>
          <div class="mb-2">
            <label for="editarFinEx" class="form-label">Fecha de finalización</label>
            <input type="month" class="form-control form-control-sm" id="editarFinEx">
          </div>
          <div class="mb-2">
            <label for="editarDescripcionEx" class="form-label">Descripción</label>
            <textarea type="text" class="form-control form-control-sm" rows="3" id="editarDescripcionEx"></textarea>
          </div>
          <button type="button" class="btn btn-info mt-2">Guardar</button>
        </form>
      </div>
    </div>
  </div>

  </div>
  