
<div class="seccion container-md">
    <div class="seccion-titulo"><h2>Experiencia</h2></div>
    <ul>
    <li class="seccion-experiencia d-flex align-items-center p-2">
      <img class="seccion-img img-experiencia me-2">
      <div class="col"><p><b>Trabajo</b> en Empresa</p>
      <p class="fechas">Fechas</p>
      <p>Descripción</p>
    </div>
  </li>
  <li class="seccion-experiencia d-flex align-items-center p-2">
    <img class="seccion-img img-experiencia me-2">
    <div class="col"><p><b>Trabajo</b> en Empresa</p>
    <p class="fechas">Fechas</p>
    <p>Descripción</p>
  </div>
  </li>
  </ul>
  </div>
  