<div class="modal-dialog container-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarProyectoT">Editar proyecto</h5>
        <button type="button" class="btn-close" (click)="volver()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #proyectoEForm="ngForm">
          <div class="mb-2">
            <label for="nombre_pr" class="form-label">Nombre</label>
            <input type="text" class="form-control form-control-sm" required
            id="nombre_pr" name="nombre_pr" [(ngModel)]="proyecto.nombre_pr" #nombre_pr="ngModel">
          </div>
          <div class="mb-2">
            <label for="fin_pr" class="form-label">Fecha de finalización</label>
            <input type="date" class="form-control form-control-sm" required
            id="fin_pr" name="fin_pr" [(ngModel)]="proyecto.fin_pr" #fin_pr="ngModel">
          </div>
          <div class="mb-2">
            <label for="descripcion_pr" class="form-label">Descripción</label>
            <textarea type="text" class="form-control form-control-sm" rows="3" 
            id="descripcion_pr" name="descripcion_pr" [(ngModel)]="proyecto.descripcion_pr" #descripcion_pr="ngModel"></textarea>
          </div>
          <div class="mb-2">
            <label for="link" class="form-label">Link</label>
            <input type="text" class="form-control form-control-sm" 
            id="link" name="link" [(ngModel)]="proyecto.link" #link="ngModel">
          </div>
          <div class="mb-2">
            <label for="fuente" class="form-label">Código fuente</label>
            <input type="text" class="form-control form-control-sm" required
            id="fuente" name="fuente" [(ngModel)]="proyecto.fuente" #fuente="ngModel">
          </div>
          <button type="submit" class="btn btn-info mt-2 me-2">Guardar cambios</button>
          <button type="button" class="btn mt-2" (click)="volver()">Cancelar</button>
        </form>
      </div>
    </div>
