<header class="container-lg d-flex align-items-center justify-content-center">
    <div class="col">
      <img src="assets/img/APcolor.png" height="60">
    </div>
    <div class="redes me-2">
      <a href="https://github.com/EliArg"><i class="bi-github"></i></a>
      <div class="btn-group-vertical">
        <button type="button" class="editar bi-pencil-fill"></button>
        <button type="button" class="borrar bi-x-circle-fill"></button>
      </div>
    </div>
  <div>
    <button type="button" class="btn btn-info">Iniciar sesión</button>
    <button type="button" class="btn btn-info">Salir</button>
  </div>
    </header>