<div class="seccion informacion container-lg">
    <img id="banner" class="img-fluid" src="assets/img/banner.jpg">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="informacion-1 align-item-center justify-content-center p-2">
    <img id="perfil" src="assets/img/avatar.png">
    <h1 id="nombre">Nombre Apellido</h1>
  </div>
  <div class="col informacion-2 p-2">
    <h2 id="titulo">Full Stack Developer Jr.</h2>
    <p id="sobremi">Sobre mí</p>
    </div>
  </div>
  </div>