.informacion-1 {
    max-width: 18rem;
    margin-left: 10px;
    text-align: center;
 }
.informacion-2 {
    min-width: 18rem;
    padding-left: 1em;
    padding-right: 1em;
 }
#banner-img {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
#avatar-img {
   border-radius: 50%;
   border-color: teal;
   border-style: solid;
   background-color: white;
   width: 150px;
   height: 150px; 
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.icono-img {
   color: teal;
   font-size: 100px;
   display: block;
   text-align: center;
}