<div class="seccion informacion container-md">
    <img id="banner" class="img-fluid" src="assets/img/banner.jpg">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="informacion-1" class="align-item-center justify-content-center">
    <img id="perfil" class="img-fluid" src="assets/img/avatar.png">
    <h1 id="nombre">Nombre Apellido</h1>
  </div>
  <div class="col informacion-2">
    <h2 id="titulo">Full Stack Developer Jr.</h2>
    <p id="sobremi">Sobre mí</p>
    </div>
  </div>
  </div>