<div class="seccion informacion container-lg">
  <div *ngIf="informacionList?.length === 0" class="d-flex align-item-center justify-content-center p-3">
    <button type="button" *ngIf="isAdmin" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#crearInformacion">Crear perfil</button>
  </div>
  <div *ngFor="let informacion of informacionList; let id = index">
    <img *ngIf="informacion.banner != null" id="banner-img" class="img-fluid" [src]="informacion.banner">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="informacion-1 align-item-center justify-content-center p-3">
    <img *ngIf="informacion.avatar != null ; else icono" id="avatar-img" [src]="informacion.avatar">
    <ng-template #icono><i class="bi-person-circle icono-img"></i></ng-template>
    <h1 id="nombre">{{informacion.nombre}}</h1>
  </div>
  <div class="col informacion-2 p-3">
    <h2>{{informacion.titulo}}</h2>
    <p>{{informacion.sobre_mi}}</p>
    <p *ngIf="informacion.email"><i class="bi bi-envelope-fill me-2"></i>{{informacion.email}}</p>
      <button type="button" *ngIf="isAdmin" (click)="editarInformacion(informacion.id)" class="boton-1 bi-pencil-fill me-2"></button>
      <button type="button" *ngIf="isAdmin" (click)="eliminarInformacion(informacion.id)" class="boton-1 bi-x-circle-fill" ></button>
    </div>
  </div>
  </div>
<!--Modal-->
<div class="modal fade" id="crearInformacion" tabindex="-1" aria-labelledby="crearInformacionT" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crearInformacionT">Crear perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #informacionForm="ngForm">
        <div class="mb-2">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control form-control-sm" required
          id="nombre" name="nombre" [(ngModel)]="informacion.nombre" #nombre="ngModel">
        </div>
        <div class="mb-2">
          <label for="titulo" class="form-label">Título</label>
          <input type="text" class="form-control form-control-sm" required
          id="titulo" name="titulo" [(ngModel)]="informacion.titulo" #titulo="ngModel">
        </div>
        <div class="mb-2">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control form-control-sm" 
          id="email" name="email" [(ngModel)]="informacion.email" #email="ngModel">
        </div>
        <div class="mb-2">
          <label for="banner" class="form-label">Banner</label>
          <input class="form-control form-control-sm" type="text" 
          id="banner" name="banner" [(ngModel)]="informacion.banner" #banner="ngModel">
        </div>
        <div class="mb-2">
          <label for="avatar" class="form-label">Imagen de perfil</label>
          <input class="form-control form-control-sm" type="text" 
          id="avatar" name="avatar" [(ngModel)]="informacion.avatar" #avatar="ngModel">
        </div>
        <div class="mb-2">
          <label for="sobre_mi" class="form-label">Sobre mí</label>
          <textarea type="text" class="form-control form-control-sm" rows="3" 
          id="sobre_mi" name="sobre_mi" [(ngModel)]="informacion.sobre_mi" #sobre_mi="ngModel"></textarea>
        </div>
        <button type="submit" class="btn btn-info mt-2 me-2" [disabled]="!informacionForm.valid">Crear</button>
        <button type="button" class="btn mt-2" data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>