<div class="seccion container-lg">
    <div class="seccion-titulo">
      <button type="button" class="boton-1 boton-2 bi-plus-circle-fill" data-bs-toggle="modal" data-bs-target="#editarPortafolio"></button>
      <h2>Proyectos</h2></div>
    <ul class="d-flex flex-wrap align-items-center">
    <li *ngFor="let proyectos of proyectosList; let idpr = index" class="p-3">
      <div class="seccion-proyecto card">
        <div class="card-body">
          <div class="btn-group-vertical" style="float: right;">
            <button type="button" class="boton-1 bi-pencil-fill" data-bs-toggle="modal" data-bs-target="#editarPortafolio"></button>
            <button type="button" (click)="removePr(idpr)" class="boton-1 bi-x-circle-fill"></button>
          </div>
          <p class="card-title"><b>{{proyectos.proyecto}}</b></p>
          <p class="card-subtitle mb-2 fechas text-muted">{{proyectos.finPr}}</p>
          <p class="card-text mb-2">{{proyectos.descripcionPr}}</p>
          <div>
            <a type="button" class="btn btn-info me-2" [href]="proyectos.link">Ver</a>
            <a type="button" class="btn btn-info" [href]="proyectos.fuente">Fuente</a>
          </div>
          </div>
      </div>
    </li>
    </ul>

  <!--Modal-->
  <div class="modal fade" id="editarPortafolio" tabindex="-1" aria-labelledby="editarPortafolioT" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarPortafolioT">Editar proyectos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-2">
              <label for="editarProyecto" class="form-label">Nombre</label>
              <input type="text" class="form-control form-control-sm" id="editarProyecto">
            </div>
            <div class="mb-2">
              <label for="editarFinPr" class="form-label">Fecha de finalización</label>
              <input type="date" class="form-control form-control-sm" id="editarFinPr">
            </div>
            <div class="mb-2">
              <label for="editarDescripcionPr" class="form-label">Descripción</label>
              <textarea type="text" class="form-control form-control-sm" rows="3" id="editarDescripcionPr"></textarea>
            </div>
            <div class="mb-2">
              <label for="editarLink" class="form-label">Link</label>
              <input type="text" class="form-control form-control-sm" id="editarLinkPr">
            </div>
            <div class="mb-2">
              <label for="editarFuente" class="form-label">Código fuente</label>
              <input type="text" class="form-control form-control-sm" id="editarFuentePr">
            </div>
            <button type="button" class="btn btn-info mt-2">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  
  </div>
  