<div class="seccion container-lg">
    <div class="seccion-titulo"><h2>Proyectos</h2></div>
    <ul class="d-flex flex-wrap align-items-center">
    <li class="seccion-proyecto p-3">
      <div class="card">
        <div class="card-body">
          <div class="btn-group-vertical" style="float: right;">
            <button type="button" class="editar bi-pencil-fill"></button>
            <button type="button" class="borrar bi-x-circle-fill"></button>
          </div>
          <p class="card-title"><b>Nombre Proyecto</b></p>
          <p class="card-subtitle mb-2 fechas">Fecha</p>
          <p class="card-text mb-2">Descripción</p>
          <div>
            <button type="button" class="btn btn-info me-2">Ver</button>
            <button type="button" class="btn btn-info">Código fuente</button>
          </div>
          </div>
      </div>
    </li>
    <li class="seccion-proyecto p-3">
      <div class="card">
        <div class="card-body">
          <div class="btn-group-vertical" style="float: right;">
            <button type="button" class="editar bi-pencil-fill"></button>
            <button type="button" class="borrar bi-x-circle-fill"></button>
          </div><p class="card-title"><b>Nombre Proyecto</b></p>
          <p class="card-subtitle mb-2 fechas">Fecha</p>
          <p class="card-text mb-2">Descripción</p>
          <div>
            <button type="button" class="btn btn-info me-2">Ver</button>
            <button type="button" class="btn btn-info">Código fuente</button>
          </div>
          </div>
      </div>
    </li>
    </ul>
  </div>
  