<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crearEducacionT">Editar educación</h5>
        <button type="button" class="btn-close" (click)="volver()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #educacionForm="ngForm">
          <div class="mb-2">
            <label for="curso" class="form-label">Curso</label>
            <input type="text" class="form-control form-control-sm" required
            id="curso" name="curso" [(ngModel)]="educacion.curso" #curso="ngModel">
          </div>
          <div class="mb-2">
            <label for="institucion_n" class="form-label">Institución</label>
            <input type="text" class="form-control form-control-sm" required
            id="institucion_n" name="institucion_n" [(ngModel)]="educacion.institucion_n" #institucion_n="ngModel">
          </div>
          <div class="mb-2">
            <label for="institucion_l" class="form-label">Logo de la institución</label>
            <input type="text" class="form-control form-control-sm" 
            id="institucion_l" name="institucion_l" [(ngModel)]="educacion.institucion_l" #institucion_l="ngModel">
          </div>
          <div class="mb-2">
            <label for="inicio_ed" class="form-label">Fecha de inicio</label>
            <input type="date" class="form-control form-control-sm" required
            id="inicio_ed" name="inicio_ed" [(ngModel)]="educacion.inicio_ed" #inicio_ed="ngModel">
          </div>
          <div class="mb-2">
            <label for="fin_ed" class="form-label">Fecha de finalización</label>
            <input type="date" class="form-control form-control-sm" 
            id="fin_ed" name="fin_ed" [(ngModel)]="educacion.fin_ed" #fin_ed="ngModel">
          </div>
          <div class="mb-2">
            <label for="descripcion_ed" class="form-label">Descripción</label>
            <textarea type="text" class="form-control form-control-sm" rows="3" 
            id="descripcion_ed" name="descripcion_ed" [(ngModel)]="educacion.descripcion_ed" #descripcion_ed="ngModel"></textarea>
          </div>
          <button type="submit" class="btn btn-info mt-2 me-2" [disabled]="!educacionForm.valid">Guardar cambios</button>
          <button type="button" class="btn mt-2" (click)="volver()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
